on:
  release:
    types: [published]
name: release

permissions:
  contents: write

jobs:
  update-major:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@98814c53be79b1d30f795b907e553d8679345975 # v6
        id: parse-major
        with:
          script: |
            const ref = context.payload.release.tag_name;
            const versionRegex = new RegExp('v?(\\d+)\\.\\d+\\.\\d+');
            const match = ref.match(versionRegex);
            if (match) {
              return "v" + match[1];
            }
            return "";
          result-encoding: string
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          fetch-depth: 0
        if: ${{ steps.parse-major.outputs.result }}
      - name: delete existing major tag
        run: |
          (git tag -d ${{ steps.parse-major.outputs.result }} && git push origin :${{ steps.parse-major.outputs.result }}) || true
        if: ${{ steps.parse-major.outputs.result }}
      - name: create major tag
        run: |
          git tag ${{ steps.parse-major.outputs.result }} ${{ github.event.GITHUB_REF }}
          git push origin --tags
        if: ${{ steps.parse-major.outputs.result }}
